<div class="col-sm-5">
  <img class="searchImage center-block img-responsive" src="<%=album.album_art%>" />
  <input type="hidden" id="dataRaw" data-id="<%= @albumid %>" data-raw="<%= album.to_json %>"/>
  <div class="btn-group btn-group-justified btnGroupDetail">
  <% if @queued %>
    <div class="btn-group" role="group">
      <button id="albumAdd" class="btn btn-success btnDetail">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
    </div>
  <% else %>
    <div class="btn-group" role="group">
      <button id="albumAdd" class="btn btn-success btnDetail">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
  <% end %>

  <% if @finished %>
    <div class="btn-group" role="group">
      <button id="albumListened" class="btn btn-success btnDetail">
        <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>
      </button>
    </div>
  <% else %>
    <div class="btn-group" role="group">
      <button id="albumListened" class="btn btn-success btnDetail">
        <span class="glyphicon glyphicon-volume-off" aria-hidden="true"></span>
      </button>
    </div>
  <% end %>
</div>
  <h5><em><%= album.tracks %></em></h5>
</div>
<div class="col-sm-7">
  <h1><%= album.name %></h1>
  <h3>Artist: <%= album.artist %></h3>
  <h3>Date: <%= album.date %></h3>
  <h3>Genre: <%= album.genre %></h3>
  <% if album.trackname %>
  <h3>Tracks: <ul>
    <%album.trackname.each do |name| %>
    <li><%= name %></li>
    <% end %></ul>
  </h3>
    <% end %>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b5bb560b6e840b"></script>
<script src="/js/albumButtonToggle.js"></script>
