<div class="col-sm-5">
  <img class="searchImage center-block img-responsive" src="<%=movie.movie_art%>" />
  <input type="hidden" id="dataRaw" data-id="<%= movie.tmdb_id %>" data-raw="<%= movie.to_json %>"/>
  <div class="btn-group btn-group-justified btnGroupDetail">
    <% if @queued %>
      <div class="btn-group" role="group">
        <button id="movieAdd" class="btn btn-success btnDetail">
          <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </button>
      </div>
    <% else %>
      <div class="btn-group" role="group">
        <button id="movieAdd" class="btn btn-success btnDetail">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </div>
    <% end %>

    <% if @finished %>
      <div class="btn-group" role="group">
        <button id="movieWatched" class="btn btn-success btnDetail">
          <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        </button>
      </div>
    <% else %>
    <button id="movieWatched" class="btn btn-success btnDetail">
      <span class="glyphicon glyphicon-eye-closed" aria-hidden="true"></span>
    </button>
  </div>
    <% end %>

</div>

<div class="col-sm-7">
  <h1><%= movie.name %></h1>
  <h3>Synopsis: <%= movie.overview %></h3>
  <h3>Date: <%= movie.date %></h3>
  <h3>Genre: <%= movie.genre %></h3>
  <h3>Runtime: <%= movie.runtime %> minutes</h3>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b5bb560b6e840b"></script>
<script src="/js/buttonToggle.js"></script>
