<div class="col-sm-5 <%= movie.tmdb_id %>">
<!-- <% if movie.background %><% end %> -->

  <img class="searchImage center-block img-responsive" src="<%=movie.movie_art%>">
      <button id="movieAdd" class="btn btn-success">Add to Queue</button>

      <button id="movieWatched" class="btn btn-success">I've watched this</button>

      <button id="movieDelete" class="btn btn-success">Remove from Queue</button>
</div>

<div class="col-sm-7">
  <h1><%= movie.name %></h1>
  <h3>Synopsis: <%= movie.overview %></h3>
  <h3>Date: <%= movie.date %></h3>
  <h3>Genre: <%= movie.genre %></h3>
  <h3>Runtime: <%= movie.runtime %> minutes</h3>
</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b5bb560b6e840b"></script>
