<div class="detailContainer">
  <div class="col-sm-4 <%= series.gn_id %>">
    <img class="searchImage detailImage thumbnail center-block img-responsive" src="<%=series.show_image%>">
    <script>
      var dataId = '<%= @showid %>';
      var dataRaw = <%== series.to_json %>;
      var dataQueued = <%= @queued %>;
      var dataFinished = <%= @finished %>;
    </script>
    <div class="btn-group btn-group-justified btnGroupDetail">
      <% if @queued %>
        <div class="btn-group" role="group">
          <button id="showAdd" class="btn btn-success btnDetail">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </div>
      <% else %>
        <div class="btn-group" role="group">
          <button id="showAdd" class="btn btn-success btnDetail">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          </button>
        </div>
      <% end %>

      <% if @finished %>
        <div class="btn-group" role="group">
          <button id="showWatched" class="btn btn-success btnDetail btnDetailRight">
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
          </button>
        </div>
      <% else %>
        <div class="btn-group" role="group">
          <button id="showWatched" class="btn btn-success btnDetail btnDetailRight btnDetailRight">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-sm-8 mediaDetailsContainer">
    <h1 class="mediaTitle"><%= series.title %></h1>
    <div class="mediaDetails">
      <h3 class="text-justify"><%= series.fulldesc %></h3>
      </br>
      <h4><b>Release Date:</b> <%= series.date %></h4>
      <h4><b>Genre:</b> <%= series.genre %></h4>
      <h4><b>Seasons:</b> <%= series.seasons %></h4>
      <h4><b>Created by:</b> <%= series.contributor %></h4>
    </div>
  </div>
</div>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57b5bb560b6e840b"></script>
<script src="/js/tvButtonToggle.js"></script>
