
  <div class="row">
    <div class="col-sm-12 <%= series.gn_id %>">
      <h2><%= "Title: #{series.title}" %></h2>
      <img src="<%=series.image%>">
      <h3>Synopsis: <%= series.synopsis || "not available" %></h3>
      <h3>Date: <%=series.date || "not available"%></h3>
      <h3>Genre: <%=series.genre || "not available"%></h3>
      <h3>Seasons: <%=series.seasons.length || "not available"%></h3>
      <h3>Actors: <%=series.actors.map{|actor| actor["NAME"]}.split(",") || "not available"%></h3>
    </div>
  </div>
