<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<div class="container">
  <div class="row">
    <% if !@tvparse %>
      <h4>No TV search results</h4>
    <% end %>
  </div>
  <h3>Artist search results:</h3>
  <!-- <%= @artistparse.to_json %> -->
</div>
<div class="container">
  <div class="row" id="results">

  </div>

<script>
  var TVItems = <%== @tvparse.to_json %>;
  var userQueuedShows = <%==@userqueuedshows.to_json %>;
  var userFinishedShows = <%==@userfinishedshows.to_json %>;
  var MusicItems = <%== @artistparse.to_json %>;
  console.log(MusicItems)
  var userQueuedMusic = [];//<%==@userqueuedmusic.to_json %>;
  console.log(userQueuedMusic)
  var userFinishedMusic = [];//<%==@userfinishedmusic.to_json %>;
  console.log(userFinishedMusic)
</script>
<script src="/js/results.bundle.js"></script>



<!-- Go to www.addthis.com/dashboard to customize your tools -->
