<h4 id="notice"><span class="label label-info"><%= notice %></span></h4>

<%= form_tag search_path, id: 'searchBarAndButton', method: "get" do %>
<%= text_field_tag :search, params[:search], placeholder: "Show, artist, whatever else", id: 'searchBar' %>

<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search By <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Show Title</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Artist Name</a></li>
    <li><a href="#">Album Title</a></li>
    <li><a href="#">Track Name</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Movie Title</a></li>

  </ul>
</div>

<%= button_tag(type: 'submit', class: 'btn', id: 'searchBtn') do %>
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
<% end %>

<% end %>

<div class="container">
  <div id="results">

  </div>
</div>
<script>
  var TVItems = <%== @tvparse.to_json %>;
  var userQueuedShows = <%== @userqueuedshows.to_json %>;
  var userFinishedShows = <%== @userfinishedshows.to_json %>;
  var MusicItems = <%== @artistparse.to_json %>;
  var userQueuedMusic = <%== @userqueuedmusic.to_json %>;
  var userFinishedMusic = <%== @userfinishedmusic.to_json %>;
  var MovieItems = <%== @movieparse.to_json %>
  console.log(MovieItems)
  var userQueuedMovies = <%== @userqueuedmovies.to_json %>
  var userFinishedMovies = <%== @userfinishedmovies.to_json %>
</script>
<script src="/js/results.bundle.js"></script>
