<div class="container">
  <h4 id="notice"><span class="label label-info"><%= notice %></span></h4>
</div>

<div id="searchBarAndButton">
  <%= form_tag search_path, method: "get" do %>
  <%= select_tag(:searchtype, options_for_select([['All'],['TV'],['Movie'],['Music']], selected: params[:searchtype]), class: 'form-control', id: 'searchType') %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by title or artist", id: 'searchBar', required: true %>
  <%= button_tag(type: 'submit', class: 'btn', id: 'searchBtn') do %>
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  <% end %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div id="results">

    </div>
  </div>
</div>

<% if current_user.stackings == [] %>
<div class="container emptyQueue">
  <div class="row hidden-xs" id="emptyQueueImages">
    <% @sample.each do |picture| %>
      <div class="col-sm-1 sample" style="background-image: url('<%= picture %>'); background-position: top; background-size: cover;">
      </div>
    <% end %>


  </div>
  <div class="row">
    <div class="col-sm-12 text-center" id="bannerNewUser">
      <h1>Welcome to Plethora!</h1>
    </div>
  </div>
  <div class="row text-center">
    <h2 id="subtitleNewUser">Search above for the media you don't want to forget.</h2>
    <%= image_tag ('logo_small.png'), id: 'logoNewUser'%>
  </div>
</div>

<% end %>



<script>
  var TVItems = <%== @usershows.to_json %>
  var userQueuedShows = <%==@userqueuedshows.to_json %>
  var userFinishedShows = <%==@userfinishedshows.to_json %>
  var MusicItems = <%== @useralbums.to_json %>
  var userQueuedMusic = <%==@userqueuedmusic.to_json %>
  var userFinishedMusic = <%==@userfinishedmusic.to_json %>
  var MovieItems = <%== @usermovies.to_json %>
  var userQueuedMovies = <%== @userqueuedmovies.to_json %>
  var userFinishedMovies = <%== @userfinishedmovies.to_json %>

</script>
<script src="/js/searchBar.js"></script>
<script src="/js/results.bundle.js"></script>
