<div class="container making">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h1>Plethora, brought to you by:</h1>
      <h3></h3>
      <h3 class="text-left">Back end supported by Ruby on Rails 5 operating in mixed api and MVC operation to supplement our React front end. TheMovieDatabase and Discogs API's are used for media searching capability and data libraries. Data caching of user added media to their backlogs supported by a PostgreSQL database with site hosting provided by Heroku.</h3>
      <h2>Technologies incorporated:</h2>
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-2 col-sm-offset-3 techicon">
            <%= image_tag('techicons/HTML5_Logo_128.png', class: "img-responsive") %>
          </div>
          <div class="col-sm-2 techicon">
            <%= image_tag('techicons/javascript_logo_unofficial-300x300.png', class: "img-responsive") %>
          </div>
          <div class="col-sm-2 techicon">
            <%= image_tag('techicons/react-logo-1000-transparent.png', class: "img-responsive") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-3 techicon">
            <%= image_tag('techicons/Ruby_on_Rails-logo.png', class: "img-responsive") %>
          </div>
          <div class="col-sm-2 techicon">
            <%= image_tag('techicons/postreSQL.png', class: "img-responsive") %>
          </div>
          <div class="col-sm-2 techicon">
            <%= image_tag('techicons/bootstrap-logo.png', class: "img-responsive") %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-sm-offset-3 techiconwide">
            <%= image_tag('techicons/discogs-clearspace.svg', class: "img-responsive") %>
          </div>
          <div class="col-sm-3 techiconwide">
            <%= image_tag('techicons/var_2_1_PoweredByTMDB_Blk_Logo_Bree.png', class: "img-responsive") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
