<!DOCTYPE html>
<!-- Amber put the header and footer stuff in this file -->
<html>
  <head>
    <title>Plethora</title>
    <%= csrf_meta_tags %>


    <link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" href="/assets/logo_small.png" />

  </head>

  <body>
    <header>
      <a class="" href=<%= root_path  %> ><%= image_tag "logo.png", class: 'headerLogo' %></a>
      <%if current_user %>

        <!-- <li><%= link_to "Logged in as #{current_user.email}", current_user %></li> -->
        <li class="logoutLink"><%= link_to "Logout", logout_path, method: :delete%></li>
        <p class="loggedInStatus hidden-sm hidden-md hidden-lg hidden-xl"><%= "Profile" %></p>
        <p class="loggedInStatusDesktop hidden-xs"><%= "Welcome back, #{current_user.email}!" %></p>


      <%else %>
        <li class="signupLink"><%= link_to "Sign Up", new_user_path %></li>
        <li class="loginLink"><%= link_to "Login", login_path %></li>
      <%end%>
    </header>


    <%= yield %>

    <footer>
      <div class="footerLinks hidden-sm hidden-md hidden-lg hidden-xl">
        <div class="container">
          <div class="row">
            <a class="" href="<%= root_path %>" ><%= image_tag "logo.png", class: 'footerLogo img-responsive center-block' %></a>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <a class="text-center" href="<%= contact_path %>">
                <p class="text-center">
                  Contact Us
                </p>
              </a>
              <a class="text-center" href="<%= about_path %>">
                <p class="text-center">
                  About S & W
                </p>
              </a>
            </div>
            <div class="col-xs-6">
              <a href="<%= what_path %>">
                <p class="text-center">
                  What is Plethora?
                </p>
              </a>
              <a class="text-center" href="<%= making_path %>">
                <p class="text-center">
                  Making Plethora
                </p>
              </a>
            </div>
          </div>
          <div class="row">
            <p class="text-center">
              &copy; Smith & Wegrzen
            </p>
          </div>
        </div>
      </div>

    </footer>
  </body>
</html>
